*.cof
*.sdb
*.sym
*.obj
*.lst
*.rlf
*.lde
*.cce
*.cod
*.dep
*.p1
*.d
*.pre
*.Zip
*.LOG
log
DOC/
SOFT/FireClock/FireClock.X/.generated_files/
SOFT/FireClock/FireClock.X/build/
PCB/FlameClock/Project Logs for FlameClock_1.1/
PCB/FlameClock/Project Outputs for FlameClock_1.1/